.site-layout-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-search {
    margin-left:20%;
    width: 600px;
  }
  .header-favorite{
    left: 10px;
  }
  
  .header-filter-button {
    margin-left: 20px;
  }
  .headerbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-button {
    font-size: 0px; /* İkonun boyutunu ayarlayabilirsiniz */
    text-align: center;
    padding: 10px 0; /* Boşluğu ayarlayın */
  }