.ProductCard{
  height: 100%;
  /* width:80% ; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.ProductCard:hover{
  background-color:  rgb(201, 196, 196);
  transform: scale(1.05); /* Kartın üzerine gelindiğinde büyütür */
 }

 .InceleButon{
  margin-left:5px;
 }
 .image-container {
  width: 100%;
  height: 100%; /* Resmin yüksekliğini ayarlayın */
  overflow: hidden;
  position: relative;
}

 .image{
  width: 100%;
  height: 100%;
  object-fit: cover; 
 }