.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background:#46494e;
  }

.ant-menu-submenu-popup {
    background-color: #46494e !important; /* Match the sidebar background */
    color: #fff; /* Ensure text is visible */
}

  